
.not-the-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width:100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
}

img {
    max-width: 90%;
}

.wrongPage-btn {
    color: white;
    border: 0px;
    border-radius: 2em;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    cursor: pointer;
}

h1 {
    text-align: center;
}